body {
  font-family: Arial;
  font-size: 24px;
  color: #877CB1;
}

h1 {
  text-align: center;
  color: #4F4F52;
}

h2 {
  text-align: center;
  color: #4F4F52;
}

.header {
  width: 100%;
}

.header__container {
  display: flex;
  background-color: #150234;
  justify-content: space-between;
}

.header__container__logo {
  display: inline-flex;
  align-items: center;
  padding: 10px;
}

.header__container__logo img {
  max-width: 105px;
  margin-right: 15px;
}

.header__container__logo a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

.header__container button {
  display: none;
}

@media (max-width: 768px) {
  .header__container button {
    display: block;
    width: 50px;
    height: 50px;
    margin: 15px;
    background-color: #0f0f35;
    border: none;
    color: #fff;
  }
}

.header__container__list {
  display: flex;
  list-style: none;
  align-items: stretch;
  margin-right: 30px;
}

.header__container__list li {
  padding: 0 15px;
  padding-top: 35px;
}

.header__container__list li a {
  color: #ffffff;
  text-decoration: none;
}

.header__container__list li:hover {
  background-color: #00B2BF;
}

.header__container__list li:hover a {
  background-color: #00B2BF;
}

@media (max-width: 768px) {
  .header__container__list {
    display: none;
    position: absolute;
    right: -15px;
    z-index: 1;
    background-color: #0f0f35;
    top: 65px;
  }

  .header__container__list li {
    border-bottom: 1px solid #e7e7e7;
    padding-top: 0;
  }

  .header__container__list li a {
    margin: 15px;
    display: block;
  }

  .header__container__list li:last-child {
    border-bottom: none;
  }
}

#contenedor {
  min-height: 400px;
  /* Para mi contendor del contenido principal le puedo dar un height: 100% y se adaptara también el alto*/
  margin: 0px;
  padding: 0px;
  display: -webkit-flex;
  /* Le indico que detecte automáticamente la longitud de la pagina */
  display: flex;
  /* Inicio la propiedad Flexbox con */
  -webkit-flex-flow: row;
  /* Le indico que las columnas se muestren una fila debajo de otra cuando la pantalla del dipositivo sea de menos ancho */
  flex-flow: row;
  /* Defino la direccion del bloque es decir con se muestra en fila(row) una debajo de otra cuando la pantalla del dipositivo sea de menos ancho */
}

#contenedor>.contenido_medio {
  min-height: 200px;
  margin: 4px;
  padding: 5px;
  background-color: #FAEAFF;
  -webkit-flex: 3 1 60%;
  flex: 3 1 60%;
  -webkit-order: 2;
  order: 2;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}


header {
  height: 100px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 100px;
  background-color: #150234;
}


.credito {
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #000;
}

.credito a:link {
  color: #317DA2;
  text-decoration: none;
}

.credito a:hover {
  color: #317DA2;
  text-decoration: underline;
}

.credito a:visited {
  color: #317DA2;
  text-decoration: none;
}

/* Cuando tenga el ancho de 640 px, que se visualize en una sola columna los bloques de mi Pagina Wéb  */
@media all and (max-width: 640px) {
  #contenedor {
    -webkit-flex-flow: column;
    flex-direction: column;
    /* Que se visualize en una sola columna los bloques de mi Pagina Wéb */
  }

  #contenedor>contenido_medio,  #contenedor>aside {
    /* Retorno el orden del documento */
    -webkit-order: 0;
    order: 0;
  }
}

.footer {
  background-color: #0f0f35;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.footer__box-item {
  color: #ffffff;
  text-align: center;
  padding: 35px;
  border-right: 1px solid #efefef;
}

.footer__box-item:last-child {
  border: none;
}

.footer__box-item i {
  font-size: 24px;
  margin-bottom: 16px;
}

.footer__box-item__title {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: normal;
  text-transform: uppercase;
}

.footer__box-item__description {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: normal;
}

@media (max-width: 768px) {
  .footer {
    display: block;
    border: none;
  }

  .footer__box-item {
    border: none;
  }
}
